*.cydsn/Export/*
*.cydsn/CortexM3/*
*.cydsn/Generated_Source/*
*.cydsn/codegentemp/*
*.cydsn/*.cycdx
*.cydsn/*.cyfit
*.cydsn/*.rpt
*.cydsn/*.svd
*.cydsn/*.html

C12880/*
*/Export/*
*/CortexM3/*
*/Generated_Source/*
*/codegentemp/*